#swipe-container {
    display: flex;
    flex-direction: column;
}

.swipe-box {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 75px;
    align-items: center;
    font-size: 2em;
    color: white;
    overflow-x: hidden;
    background-color: cornflowerblue;
    transition: transform 0.5s, opacity 0.5s, height 0.3s, margin 0.5s;
    height: 75px;
    margin-bottom: 15px;
}

.swipe-box > * {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.swipe-text {
    grid-area: 1/1/2/3;
    background-color: cornflowerblue;
    padding: 10px;
    transition: transform 0.15s;
}

.del-btn, .restore-btn, .btn-box {
    grid-area: 1/2/2/3;
    justify-self: end;
    font-size: 1.25em;
    font-weight: 700;
    justify-content: center;
}

.btn-box > * {
    flex: 1;
    font-size: 1em;
    height: 100%;
}

.del-btn {
    background-color: crimson;
}

.restore-btn {
    background-color: #BCED4C;
}

.del-animation {
    animation: del 0.5s 0.3s forwards ease;
    opacity: 0.2;
    transform: translateX(-100vw);
}

.restore-all, .del-all {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    padding: 10px;
    text-align: center;
    color: white;
    margin: 5px 0;
    transition: opacity 0.5s;
}

@keyframes del {
    100% {height: 0px; margin-bottom: 0px;}
}